.footer {
  background-color: $footer-gray;
  &__title {
    @include page-text(14);
    color: $light-color;
    text-transform: uppercase;
    padding-bottom: 25px;
    padding-top: 30px;
    @media (min-width: 992px) {
      padding-top: 0;
      padding-bottom: 30px;
    }
    @media (min-width: 1200px) {
      padding-bottom: vw(30);
    }
  }
  &__top {
    padding: 50px 0 65px;
    background-color: $text-color;
    @media (min-width: 1920px) {
      padding: vw(50) 0 vw(65);
    }
  }
  &__bottom {
    background-color: $light-color;
    padding: 10px 0 25px;
    @media (min-width: 1920px) {
      padding: vw(10) 0 vw(25);
    }
  }
  &__logo {
    margin-bottom: 10px;
    min-width: 206px;
    width: vw(206);
  }
  &__list {
    a {
      display: block;
      width: auto;
      @include page-text(12);
      color: $light-color;
      padding-bottom: 15px;
      cursor: pointer;
      transition: color 0.5s;
      &:hover {
        color: $main-color;
      }
      @media (min-width: 1920px) {
        padding-bottom: vw(15);
      }
    }
  }
  &__item {
    display: block;
    width: auto;
    @include page-text();
    color: $light-color;
    padding-bottom: 15px;
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: $main-color;
    }
    @media (min-width: 1920px) {
      padding-bottom: vw(15);
    }
  }
  &__copy-rights {
    text-align: center;
    @include page-text(12);
    color: $text-color;
    a {
      text-decoration: underline;
    }
  }
  &__address {
    @include page-text(12);
    color: $light-color;
    line-height: 2;
    padding-top: 30px;
    @media (min-width: 992px) {
      padding-top: 0;
    }
  }
  &__menu {
    display: none;
    @media (min-width: 576px) {
      display: block;
    }
  }
  &__link {
    margin-left: 20px;
    width: vw(40);
    height: vw(40);
    min-width: 40px;
    min-height: 40px;
    &:first-of-type {
      margin-left: 0;
    }
    @media(min-width: 1220px){
      margin-left: vw(20);
    }
    &-img {
      width: vw(35);
      height: vw(35);
      min-width: 35px;
      min-height: 35px;
      &:hover {
        width: vw(40);
        height: vw(40);
        min-width: 40px;
        min-height: 40px;
      }
      transition: 0.2s ease-out;
    }
  }
}
