.list {
  padding: 66px 0 100px;
  @media (min-width: 1200px) {
    padding: vw(66) 0 vw(100);
  }
  &__header {
    @extend .page-top--yellow;
  }
  &__title {
    text-align: center;
    @include page-text(40, $bold-font);
    color: $light-color;
  }
  &__box {
    &-wrap {
      width: 100%;
      background-color: $main-color;
      padding: 100px 15px;
      @media(min-width: 1200px){
        padding: vw(100) vw(15);
      }
    }
  }
  &__count {
    height: 100%;
  }
  &__column {
    padding: 0;
  }
  &__paper {
    margin-right: 0;
    margin-bottom: 20px;
    width: vw(130);
    min-width: 130px;
    @media (min-width: 1200px) {
      margin-right: vw(30);
      margin-bottom: 0;
    }
  }
  &__number {
    @include page-text(60, $bold-font);
    line-height: 1;
    color: $light-color;
    padding-bottom: 15px;
    @media (min-width: 1200px) {
      padding-bottom: 0;
    }
  }
  &__label {
    @include page-text(20, $bold-font);
    color: $light-color;
  }
  &__wrap {
    padding: 0 20px;
    margin: 50px auto;
    @media (min-width: 1200px) {
      margin: vw(120) vw(60);
    }
  }
  &__content {
    position: relative;
    padding-bottom: 50px;
    column-count: 2;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: 576px) {
      column-count: 4;
      text-align: left;
    }
    @media(min-width: 1200px){
      padding-bottom: vw(50);
    }
    &-list {
      overflow: hidden;
      height: 100%;
      max-height: 530px;
      padding-bottom: 20px;
      @media(min-width: 1200px){
        padding-bottom: vw(50);
      } 
    }
  }
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $light-color;
    background: linear-gradient(180deg, rgba(255,255,255,0) 15%, rgba(255,255,255,1) 100%);
  }
  &__item {
    @include page-text(15);
  }
  &__button {
    @include page-text(16, $bold-font);
    color: $light-color;
    padding: 15px 50px;
    margin-top: 30px;
    background-color: $light-blue;
    color: $light-color;
    border: 2px solid $light-blue;
    transition: 0.5s ease-out;
    cursor: pointer;
    @media(min-width: 1200px){
      padding: vw(15) vw(50);
      margin-top: vw(30);
      border: vw(2) solid $light-blue;
    }
    &:hover {
      color: $light-blue;
      background-color: $light-color;
    }
  }
  &__show {
    display: none;
    margin: 0 auto;
    width: vw(100);
    min-width: 100px;
    @include page-text(16, $bold-font);
    color: $text-color;
    position: relative;
    cursor: pointer;
    &--display{
      display: block;
    }
    &:after {
      content: " ";
      width: vw(15);
      height: vw(8);
      min-width: 15px;
      min-height: 8px;
      background: url("../img/arrow-down.svg") no-repeat center / 100%;
      position: absolute;
      right: -30px;
      top: 10px;
      @media (min-width: 1920px) {
        right: vw(-30);
        top: vw(10);
      }
    }
  }
}
