.homepage-report {
  width: 100%;
  &__header {
    margin-bottom: -1px;
    position: relative;
    width: 100%;
    &-cyan {
      background-color: $cyan;
      width: 100%;
      padding: 100px 0 25px 0;
      @media (min-width: 992px) {
        padding: 160px 0 25px 0;
        width: calc((100% / 3) * 2);
      }
      @media (min-width: 1200px) {
        padding: vw(160) 0 vw(25) 0;
        margin-bottom: vw(-1);
      }
    }
    &-blue {
      background-color: $light-blue;
      width: calc(100% / 3);
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    @include page-text(36, $bold-font);
    @media (min-width: 1200px) {
      bottom: vw(30);
    }
  }
  &__column {
    width: 100%;
    padding: 35px 10px;
    @media (min-width: 992px) {
      padding: 85px 10px 20px 10px;
      width: calc(100% / 3);
    }
    @media (min-width: 1200px) {
      padding: vw(85) vw(10) vw(20) vw(10);
    }
    &--yellow {
      background-color: $yellow;
    }
    &--cyan {
      background-color: $cyan;
      order: -1;
      @media (min-width: 992px) {
        order: 0;
      }
    }
    &--blue {
      background-color: $light-blue;
      position: relative;
      overflow: hidden;
      padding-left: 30px;
      @media (min-width: 1200px) {
        padding-left: vw(30);
      }
    }
  }
  &__subject {
    @include page-text();
    b{
      font-family: $bold-font;
      text-transform: uppercase;
    }
  }
  &__caption {
    width: 100%;
    max-width: 350px;
    @include page-text(10);
    &--light {
      color: $light-color;
      max-width: 350px;
      z-index: 1;
      @media (min-width: 992px) {
        max-width: 250px;
      }
    }
    @media (min-width: 1920px) {
      width: vw(350);
      max-width: none;
      min-width: 350px;
    }
  }
  &__diagram {
    margin: 50px 0 40px 0;
    width: 100%;
    max-width: 500px;
    @media (min-width: 1200px) {
      margin: vw(50) 0 vw(40) 0;
    }
    @media (min-width: 1920px) {
      max-width: none;
    }
  }
  &__percentage {
    width: 100%;
    max-width: 300px;
    &-caption {
      margin-left: -70px !important;
      @include page-text(16);
      @media (min-width: 1920px) {
        margin-left: vw(-70) !important;
        width: 300vw;
        max-width: none;
      }
    }
    &-wrap {
      box-sizing: border-box;
      padding-left: 40px;
      padding-bottom: 20px;
    }
    @media (min-width: 1920px) {
      width: vw(300);
      max-width: none;
      min-width: 300px;
    }
  }
  &__description {
    @include page-text(16);
    max-width: 350px;
    padding-bottom: 30px;
    @media (min-width: 1920px) {
      width: vw(350);
      min-width: 350px;
      max-width: none;
    }
    b{
      font-family: $bold-font;
    }
  }
  &__button {
    margin-top: 45px;
    background-color: $main-color;
    @include page-text();
    color: $light-color;
    border: 2px solid $main-color;
    transition: 0.5s ease-out;
    cursor: pointer;
    padding: 20px 70px;
    &:hover {
      color: $main-color;
      background-color: $light-color;
    }
    @media (min-width: 1920px) {
      padding: vw(20) vw(90);
      margin-top: vw(45);
    }
  }
  &__puppet {
    position: absolute;
    bottom: 0;
    right: -150px;
    filter: contrast(0.5);
    @media (min-width: 1920px) {
      height: vw(300);
      right: vw(-150);
    }
  }
  &__question {
    z-index: 1;
    max-width: 320px;
    @include page-text();
    color: $light-color;
    padding-bottom: 20px;
    @media (min-width: 1920px) {
      max-width: vw(320);
    }
    b{
      font-family: $bold-font;
      text-transform: uppercase;
    }
  }
  &__graph {
    z-index: 1;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    @media (min-width: 1920px) {
      max-width: vw(350);
    }
  }
}
