// screen
$browser-context: 16;
$screen-width: 1920;
$screen-height: 980;

//colors
$main-color: #ff0988;
$light-blue: #0062d3;
$light-color: #ffffff;
$text-color: #000;
$cyan: #3bffff;
$yellow: #fbba04;
$gray: #707070;

//fonts
$light-font: "Manrope-Light", sans-serif;
$normal-font: "Manrope-Regular", sans-serif;
$medium-font: "Manrope-Medium", sans-serif;
$bold-font: "Manrope-Bold", sans-serif;
$black-font: "Manrope-ExtraBold", sans-serif;
